<?xml version="1.0" ?><robot>
	<!-- ***************** -->
	<!-- base calibration -->
	<!-- ***************** -->
	<!-- laser front mount positions | relative to base_link -->
	<property name="laser_front_x" value="0.325"/>
	<property name="laser_front_y" value="0.0"/>
	<property name="laser_front_z" value="0.135"/>
	<property name="laser_front_roll" value="0"/>
	<property name="laser_front_pitch" value="0"/>
	<property name="laser_front_yaw" value="0"/>

	<!-- laser rear mount positions | relative to base_link -->
	<property name="laser_rear_x" value="-0.325"/>
	<property name="laser_rear_y" value="0.0"/>
	<property name="laser_rear_z" value="0.135"/>
	<property name="laser_rear_roll" value="0"/>
	<property name="laser_rear_pitch" value="0"/>
	<property name="laser_rear_yaw" value="3.1415926"/>

	<!-- laser top mount positions | relative to base_link -->
	<property name="laser_top_x" value="-0.252"/>
	<property name="laser_top_y" value="0.0"/>
	<property name="laser_top_z" value="0.42"/>
	<property name="laser_top_roll" value="0"/>
	<property name="laser_top_pitch" value="0"/>
	<property name="laser_top_yaw" value="0"/>

	<!-- *********************** -->
	<!-- upper robot calibration -->
	<!-- *********************** -->
	<!-- tray mount positions | relative to base_link -->
	<property name="tray_x" value="0.2406"/>
	<property name="tray_y" value="0.1900"/>
	<property name="tray_z" value="0.7320"/>
	<property name="tray_roll" value="2.3561"/>
	<property name="tray_pitch" value="0"/>
	<property name="tray_yaw" value="0"/>

	<!-- torso mount positions | relative to base_link -->
	<property name="torso_x" value="0.1522109154"/>
	<property name="torso_y" value="-0.0726831421"/>
	<property name="torso_z" value="0.8839152671"/>
	<property name="torso_roll" value="1.5668177178"/>
	<property name="torso_pitch" value="-0.1044858656"/>
	<property name="torso_yaw" value="0.067265697"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="arm_x" value="-0.0132961868"/>
	<property name="arm_y" value="-0.0841777233"/>
	<property name="arm_z" value="0.8744740295"/>
	<property name="arm_roll" value="0.7986084454"/>
	<property name="arm_pitch" value="0.010055474"/>
	<property name="arm_yaw" value="-0.274199466"/>

	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
	<!-- torso chain calibration_offest! | relative to reference position (see below)-->
	<!-- not used right now
	<property name="torso_lower_neck_tilt_cal_offset" value="0.0"/>
	<property name="torso_pan_cal_offset" value="0.0"/>
	<property name="torso_upper_neck_tilt_cal_offset" value="0.0"/>
	-->

	<!-- torso reference positions | used as calibration_rising for torso chain -->
	<!-- ! set these values to make torso straight with (0, 0, 0) joint angles ! -->
	<property name="torso_lower_neck_tilt_ref" value="0.08129"/>
	<property name="torso_pan_ref" value="0.0186655802"/>
	<property name="torso_upper_neck_tilt_ref" value="0.9123"/>

	<!-- tray reference position | used as calibration_rising for tray chain -->
	<property name="tray_ref" value="-0.2"/>

	<!-- head camera axis reference position | used as calibration_rising for head axis chain -->
	<property name="head_axis_ref" value="-0.1"/>

	<!-- arm reference positions | used as calibration_rising for arm chain-->
	<property name="arm_1_ref" value="0.0"/>
	<property name="arm_2_ref" value="0.0"/>
	<property name="arm_3_ref" value="0.0"/>
	<property name="arm_4_ref" value="0.0"/>
	<property name="arm_5_ref" value="0.0"/>
	<property name="arm_6_ref" value="0.0"/>
	<property name="arm_7_ref" value="0.0"/>

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="cam_l_x" value="-0.0130243294"/>
	<property name="cam_l_y" value="-0.0434071452"/>
	<property name="cam_l_z" value="-0.1566329727"/>
	<property name="cam_l_roll" value="2.716667103"/>
	<property name="cam_l_pitch" value="-1.5376791657"/>
	<property name="cam_l_yaw" value="-2.8123898674"/>

	<!-- right | stereo baseline calibration | relative to left camera -->
	<property name="cam_r_x" value="0.120745044738"/>
	<property name="cam_r_y" value="0.000874952546714"/>
	<property name="cam_r_z" value="-0.000242154644983"/>
	<property name="cam_r_roll" value="0.00557987094333"/>
	<property name="cam_r_pitch" value="0.0156954336131"/>
	<property name="cam_r_yaw" value="0.0117778590446"/>

	<!-- cam3d | handeye calibration | relative to head_axis_link -->
	<property name="cam3d_x" value="-0.035841885"/>
	<property name="cam3d_y" value="-0.0738746263"/>
	<property name="cam3d_z" value="-0.0793864717"/>
	<property name="cam3d_roll" value="0.7235503168"/>
	<property name="cam3d_pitch" value="-1.5608300762"/>
	<property name="cam3d_yaw" value="-0.774771664"/>
</robot>